html {
  font-size: 100%;
  line-height: 1.5rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  max-width: 1400px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
  background-color: seagreen;
}

.logo,
.nav-menu {
  text-transform: uppercase;
}

.nav-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-item {
  flex: 1 0 50%;
  text-align: center;
}

.logo a,
.nav-menu a {
  display: block;
  text-decoration: none;
  letter-spacing: 0.2rem;
  padding: 0.8rem;
}

.logo {
  margin: 0 auto;
}

.logo a {
  color: whitesmoke;
}

.nav-menu a {
  color: whitesmoke;
  transition: all ease-in-out 0.5s;
}

.nav-menu a:hover {
  background-color: goldenrod;
  transform: scale(1.1);
}

.nav-menu a:active {
  transform: scale(0.9);
}

/* 2nd navbar */

.header-nav-2 {
  background-color: gray;
  font-family: font-family: 'Poppins', sans-serif;

}

.logo-2, .nav-menu-2 {
  text-transform: capitalize;
}

.logo-2 a, .nav-bar-2 a {
  color: black;

}
logo-2 a {
  font-weight: 700;
  font-size: 2rem;
}
.nav-menu-2 a {
  font-weight: 300;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid gray;
  transition: all ease 0s;
}
.nav-menu-2 a:hover {
  background-color: gray;
  color: black;
  transform: none;
  border-bottom: 1px solid black;
  transition: all ease 0s;
  
}

@media (min-width: 600px) {
  .header-nav {
    line-height: 1.5rem;
  }
  .nav-menu {
    width: 100;
  }
  .nav-item {
    flex: 1 0 10%;
  }
}

@media (min-width: 900px) {
  .header-nav {
    justify-content: space-between;
    padding: 1rem 0;
    margin: 1rem auto;
  }
  .nav-menu {
    width: auto;
  }
  .logo {
    margin: 0 0 0 0.3rem;
  }
}
